/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,500i,600,600i,700,700i,800,800i&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */
#main-header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#main-header ul li {
    display: inline-block;
}

#main-header ul li a {
    text-decoration: none;
    text-transform: uppercase;
}

/* Top Bar */
#main-header .top-bar {
    background: #20273f;
}

#main-header .top-bar ul {
    margin: 5px 0px !important
}

#main-header .top-bar .social-icons li:not(:first-child) {
    margin-left: 4px;
}

#main-header .top-bar .social-icons a {
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
    background: rgba(255, 255, 255, .05);
    color: #687085;
    font-size: 14px;
    border-radius: 3px;
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
}

#main-header .top-bar .social-icons a:hover {
    background: #e81f3e;
    color: white;
}

#main-header .top-bar .links {
    float: right;
}

#main-header .top-bar .links .btn,
#main-header .top-bar .links .nav-item {
    background: none;
    font-size: 12px;
    line-height: 30px;
    color: #7c859a;
    padding-left: 20px;
}

#main-header .top-bar .links .btn {
    border: 0px;
    border-right: 1px solid #4d5265;
    border-radius: 0px;
    padding: 0 10px;
}

#main-header .top-bar .links .dropdown-menu li {
    display: block;
}

#main-header .top-bar .links .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    color: #7c859a;
    font-size: 12px;
}

#main-header .top-bar .links .dropdown-item:hover,
#main-header .top-bar .links li:hover {
    color: #e81f3e;
}

#main-header .top-bar .links .search a {
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, .05);
    border-radius: 3px;
    text-align: center;
    line-height: 30px;
    display: block;
    color: #7c859a;
    font-size: 14px;
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
}

#main-header .top-bar .links .search a:hover {
    background: #e81f3e;
    color: white;
}

/* Navbar */
#main-header .navbar {
    padding: 0;
}

#main-header .navbar li:not(:first-child) {
    margin-left: 5px;
}

#main-header .navbar li a {
    padding: 0 12px;
    line-height: 90px;
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #7c859a;
    position: relative;
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
}

#main-header .navbar li a:hover {
    background: #212840;
}

#main-header .navbar li:not(:last-child)>a::after {
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: #7c859a;
    width: 0;
    content: "";
    opacity: 0;
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
}

#main-header .navbar li:not(:last-child)>a:hover::after {
    width: 100%;
    opacity: 1;
}

#main-header .navbar li:last-child {
    margin: auto 0 auto 15px;
}

#main-header .navbar li:last-child>a {
    background: #e81f3e;
    color: #fff;
    line-height: 33px;
    padding: 0 18px;
    border-radius: 3px;
}

#main-header .navbar li:last-child>a:hover {
    background: #7c859a;
}


/* MAIN SLIDER */
#main-slider {
    user-select: none;
}

#main-slider .legend {
    user-select: none;
    background: none;
    opacity: 1;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
}

#main-slider .legend img {
    position: absolute;
    bottom: -65px;
    right: 140px;
}

#main-slider .legend .slider-text {
    position: absolute;
    bottom: 150px;
}

#main-slider .legend .slider-text h1 {
    font-size: 71px;
    font-weight: 700;
}

#main-slider .legend .slider-text h1 span {
    color: #e81f3e;
    font-size: 56px;
    font-weight: 700;
}

#main-slider .legend .slider-text .btn-primary {
    background: #e81f3e;
    text-transform: uppercase;
    padding: 9px 24px;
    font-size: 13px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 3px;
    outline: none;
    border: none;
    line-height: 19px;
    margin-top: 19px;
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
}

#main-slider .legend .slider-text .btn-primary:hover {
    background: #7c859a;
}


/* SLIDER TAB */
#slider-tab {
    position: relative;
}

#slider-tab .container {
    position: absolute;
    left: 0;
    right: 0;
    top: -50px;
    max-width: 1110px;
    background: #171e36;
    border-radius: 5px;
    padding: 23px 15px 15px;
    border-bottom: 10px solid #2b3249;
    z-index: 99;
}

#slider-tab ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    width: 100%;
    float: left;
}

#slider-tab ul li {
    border-right: 1px solid #2b334a;
}

#slider-tab .slidertab-box {
    position: relative;
    padding: 0 0 0 72px;
}

#slider-tab .slidertab-box span {
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 56px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
    font-weight: 800;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100%;
    color: rgba(124, 133, 154, .25);
}

#slider-tab .slidertab-box h6 {
    margin: 0 0 7px;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

#slider-tab .slidertab-box h6 a {
    text-decoration: none;
    color: #7c859a;
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
}

#slider-tab .slidertab-box strong {
    font-weight: 600;
    color: #e81f3e;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
}

#slider-tab .slidertab-box::after {
    position: absolute;
    left: 0;
    bottom: -25px;
    background: #e81f3e;
    width: 0;
    height: 10px;
    content: "";
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
}

#slider-tab .slidertab-box:hover h6 a {
    color: #fff;
}

#slider-tab .slidertab-box:hover::after {
    width: 100%;
}

#slider-tab .slidertab-box:hover span {
    border-color: #e81f3e;
}


/* SPORTS WIDGETS */
/* NEXT MATCH WIDGET */
#next-match-widget .title {
    background: #e81f3e;
    color: #fff;
    line-height: 51px;
    text-align: center;
    margin: 0px;
    border-radius: 3px 3px 0 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

#next-match-widget .body {
    border: 1px solid #e1e1e1;
    border-top: 0px;
    border-radius: 0 0px 3px 3px;
    width: 100%;
    float: left;
}

#next-match-widget .match-teams-vs {
    margin: 0;
    padding: 40px 30px 20px 30px;
    list-style: none;
    width: 100%;
}

#next-match-widget .match-teams-vs .team-logo {
    width: 40%;
}

#next-match-widget .match-teams-vs .team-logo strong {
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    color: #222222;
    font-weight: 400;
    margin: 10px 0 0;
}

#next-match-widget .match-teams-vs .vs {
    background: #f0f0f0;
    border: 1px solid #e1e1e1;
    display: inline-block;
    line-height: 30px;
    padding: 0 15px;
    border-radius: 15px;
    color: #e81f3e;
    margin: 20px 0 0 0;
}

#next-match-widget .nmw-txt {
    text-align: center;
    margin: 0 0 30px;
    padding: 0px;
    list-style: none;
}

#next-match-widget .nmw-txt li {
    font-size: 14px;
    color: #333;
    line-height: 24px;
}

#next-match-widget .nmw-txt strong {
    font-family: 'Roboto Condensed', sans-serif;
    color: #e81f3e;
    font-size: 16px;
    text-transform: uppercase;
}

#next-match-widget .nmw-txt span {
    color: #e81f3e;
}

#next-match-widget .countdown {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

#next-match-widget .countdown .countdown-section {
    border-right: 1px solid #e1e1e1;
    padding: 5px 0;
}

#next-match-widget .countdown .countdown-section:last-child {
    border: 0px;
}

#next-match-widget .countdown-amount {
    color: #666666;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: 300;
}

#next-match-widget .countdown-period {
    font-size: 12px;
    text-transform: uppercase;
    color: #999;
}

#next-match-widget .buy-ticket {
	text-align: center;
	padding: 24px 0;
}

#next-match-widget .buy-ticket a {
    text-decoration: none;
	background: #e81f3e;
	color: #fff;
	line-height: 40px;
	display: inline-block;
	border-radius: 3px;
	padding: 0 25px;
	font-size: 12px;
	font-weight: 800;
	text-transform: uppercase;
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
}

#next-match-widget .buy-ticket a:hover {
	background: #171e36;
	color: #fff;
}